body
{
    margin: 0;
}

#text
{
    position: absolute;
    left: 0px;
    width: 50px;
    top: 0px;
    height: 50px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#frame
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
}
